#chache
__pycache__/
*.py[cod]
*$py.class

# .env
.env
#virtualenv
env/

#DataBase
.DS_Store
*.sqlite3
media/
*.pyc
*.db



# django migrations 
**/migrations/**
!**/migrations
!**/migrations/__init__.py

staticfiles/

#vscode
.vscode/


#coverage
htmlcov/
.coverage
.coverage.*
coverage.html
coverage.xml

#pytest
.pytest_cache/
#logs
logs/

# artifacts
*.log
artifacts/

gunicorn.ctl