[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-playwright = "*"
pytest-cov = "*"
playwright = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.11"